$border: 1px solid var(--border);

.card {
	flex-direction: column;
	border-radius: 4px;
	overflow: hidden;
	border: $border;
	height: inherit;
	width: inherit;
	display: flex;
}

.title {
	border-bottom: $border;
	background-color: #393946;
	padding: 0 5px 4px 5px;
	text-align: center;
}

.card.reverse {
	flex-direction: column-reverse;
}

.card.reverse > .title {
	border-bottom: none;
	border-top: $border;
}

.card.clickable {
	cursor: pointer;

	.title {
		color: var(--link-default);
	}

	&:hover > .title {
		text-decoration: underline;
	}

	&:active > .title {
		color: var(--link-active);
	}
}
