@import "../../index.scss";

.list {
	grid-template-columns: repeat(auto-fit, 120px);
	margin-top: 15px;
	display: grid;
	gap: 8px 5px;
}

.entry {
	background-color: var(--background-2);
	height: 170px;
	padding: 5px;
}

.preview {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 100%;
	width: 100%;
}

.loading_entry {
	@include shimmer(800px);
	border-radius: 4px;
	height: 193px;
}

.new {
	@extend .entry;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	display: flex;
	height: 100%;

	&:hover {
		color: var(--link-default);
	}
}

.icon {
	margin-bottom: 10px;
	font-size: 64px;
	color: inherit;
	fill: color;
}

.empty {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	display: flex;
}
