.list {
	grid-template-columns: repeat(auto-fit, minmax(60px, 120px));
	margin-top: 15px;
	display: grid;
	gap: 8px 5px;
}

.entry {
	background-color: #292933;
	height: 170px;
	padding: 5px;
}

.preview {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 100%;
	width: 100%;
}
