@use "styles.module.scss";
@import "../../../index.scss";

@mixin box($width) {
	@include shimmer($width);
	border-radius: 3px;
}

.preview {
	@include box(1000px);
}

.input {
	@include box(800px);
	margin-top: 30px;
	height: 30px;
}

.radio {
	@extend .input;
	width: 200px;
	height: 40px;
}

.browse {
	@extend .input;
	width: 100px;
	height: 40px;
}
