.canvas {
	filter: drop-shadow(-8px 4px 6px #0000003a);
	height: 100% !important;
	width: 100% !important;
}

.card {
	background-color: var(--background-2);
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}

.controls_container {
	justify-content: right;
	position: absolute;
	display: flex;
	width: 100%;
}

.controls {
	font-size: 20px;
	width: 34px;
	margin: 8px;
}
