$column-width: 300px;

.grid {
	flex-wrap: wrap;
	display: flex;
	gap: 15px;
}

.preview {
	height: 350px;
	flex-basis: $column-width;
	flex-grow: 1;
}

.form {
	flex-basis: $column-width;
	flex-direction: column;
	flex-grow: 999999;
	display: flex;
}

.input {
	font-size: 18px;
}

.field {
	margin-bottom: 20px;
}

.controls {
	align-self: flex-end;
	margin-top: auto;
	display: flex;

	button {
		margin: 0 5px;
		height: 35px;
		width: 80px;
	}
}
