* {
	color: #fff;
}

html {
	--background: #2f2f3b;
	--link-standard: #008bfc;
	--link-active: #2952db;
}

body {
	background-color: #2f2f3b;
	align-items: center;
	justify-content: center;
	display: flex;
}

#root {
	flex-direction: column;
	margin: 0 10px;
	display: flex;
	width: 100%;

	@media (min-width: 800px) {
		max-width: 780px;
	}

	@media (min-width: 1080px) {
		max-width: 1060px;
	}
}

code {
	background-color: #1d1d22;
	border-radius: 3px;
	padding: 0 3px 1.5px 3px;
}

*:has(> code) {
	line-height: 22px;
}

a {
	color: var(--link-standard);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: var(--link-active);
	}
}

@mixin shimmer($width: 100px) {
	background: linear-gradient(100deg, #353544 20%, #515166 50%, #353544 80%);
	animation: shimmer linear 1s infinite;
	background-size: $width 100%;

	@keyframes shimmer {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: $width 0;
		}
	}
}
