html {
	--background-0: #383846;
	--background-1: #2f2f3b;
	--background-2: #292933;
	--background-3: #24242b;
	--link-default: #008bfc;
	--link-active: #2952db;
	--border: #e0e0eb26;
	--subtext: #a8aab4;
	--text: #fff;
	--red-0: #ce3136;
	--red-1: #bd2a2f;
	--red-2: #a52125;
	--green-0: #24aa5c;
	--green-1: #187940;
	--green-2: #156d3a;
}

* {
	color: var(--text);
}

body {
	background-color: var(--background-1);
	align-items: center;
	justify-content: center;
	display: flex;
}

#root {
	flex-direction: column;
	margin: 0 10px;
	display: flex;
	width: 100%;

	@media (min-width: 800px) {
		max-width: 780px;
	}

	@media (min-width: 1080px) {
		max-width: 1060px;
	}
}

code {
	background-color: #1d1d22;
	border-radius: 3px;
	padding: 0 3px 1.5px 3px;
}

*:has(> code) {
	line-height: 22px;
}

a {
	color: var(--link-default);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: var(--link-active);
	}
}

hr {
	border-color: var(--border);
	width: 100%;
}

button {
	--default-color: var(--background-1);
	--hover-color: var(--background-0);
	--active-color: var(--background-2);

	background-color: var(--default-color);
	border: solid 1px var(--border);
	padding-bottom: 0.2em;
	border-radius: 3px;

	&:hover:not(:disabled) {
		background: var(--hover-color);
	}

	&:active:not(:disabled) {
		background: var(--active-color);
	}

	&:disabled {
		cursor: not-allowed;
		color: #ffffff7c;
	}

	&.danger {
		--hover-color: var(--red-0);
		--active-color: var(--red-1);
	}

	&.red {
		--default-color: var(--red-0);
		--hover-color: var(--red-1);
		--active-color: var(--red-2);
	}

	&.green {
		--default-color: var(--green-0);
		--hover-color: var(--green-1);
		--active-color: var(--green-2);
	}
}

input[type="text"],
input:not([type]) {
	background-color: var(--background-2);
	border: solid 1px var(--border);
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;

	&:focus-visible {
		outline: solid 1px var(--text);
	}

	&:invalid {
		outline: solid 2px var(--red-0);
	}
}

label {
	text-transform: lowercase;
	font-variant: small-caps;
	display: block;
	margin-bottom: 5px;
}

@mixin shimmer($width: 100px) {
	background: linear-gradient(100deg, #353544 20%, #515166 50%, #353544 80%);
	animation: shimmer linear 1s infinite;
	background-size: $width 100%;

	@keyframes shimmer {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: $width 0;
		}
	}
}
